h2::first-letter {

color:brown;
font-size: larger;

}

/* first line */

#para1::selection {

color: blueviolet;
font-size: larger;

}

/* ::before  */ 

#imp::before {

    content: "🙂";

}

/* ::after */

#imp2::after { 

content: "💀" ;

}

/* selection  */

#selection::selection {

color: red;
background-color: yellow;


}