#container {
  border: 2px solid black;
  padding: 80px;
  background-color: antiquewhite;

  /* grid property */

  display: grid;
  grid-template-rows: 100px 100px 100px;
  grid-template-columns: 1fr 1fr 1fr; /* alternative unit instead of px you can use fractions  */

  /* now all the 3 rows and cols becomes 100px , also we can add rows and cols even we don't have required content for it, but in this case the space will get reserved for it  */

  /* justify-items and align-items */

  /*   justify-items: center;
  align-items: center;
 */
}

.box {
  border: 2px solid red;
  padding: 20px;
}

.box1 {
  background-color: yellow;
  /*grid-row-start:1 ;
grid-column-start:1 ;
grid-row-end:4 ;
grid-column-end: 4; */

  /* this are the long form propertie sfor grid layout 

you can take whatever space you want for the content you want to add later on

*/

  /* shorthand property for grid  */

  /* grid-row: 1/4 ;
grid-column: 1/4 ; */

  /* justify-items: center;
align-items: center; */
}

.box3 {
  background-color: aqua;
  /* grid area property */

  /*     grid-area: rs/cs/re/ce;
 */

  /*   grid-area: 1/3/3/7; */

  /* It determines what are area it will cover in specifies range  */
}

.box2 {
  background-color: brown;
  /*   grid-area: 1/2/7/3; */
}
