/* h1::before { 

    content:"😊";
    color: black;

}

li::before { 

    content: ">";
    color: brown;

} */

/*  p::first-letter { 

    font-size: 60px;
    font-style: italic;
    color: blue;

} */

 
 
/*  p::first-line { 

    font-weight: bold;
    font-style: italic;
    color: brown;

 }  */





