/* Navbar.module.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0f172a;
  color: white;
  padding: 15px 30px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.navLinks {
  display: flex;
  gap: 20px;
  list-style: none;
}

.navLinks li {
  cursor: pointer;
  transition: 0.3s;
}

.navLinks li:hover {
  color: #38bdf8;
}