.Container {
min-height: 800px;
  display: flex;
  border: 2px solid red;
  justify-content: center;
  align-items: center;

}

.Box {
  height: 200px;
  width: 200px;
  padding: 20px;
  margin: 20px;
  background-color: skyblue;
  border: 2px solid black;
}
