.container {
  min-height: 800px;
  display: flex;
  border: 5px solid black;
  padding: 50px;
  flex-wrap: wrap;
  gap: 20px;
}

.Box {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  background-color: skyblue;
  height: 200px;
  width: 200px;
  border: 2px solid red;
  padding: 20px;
}
